.wrapper {
    width: 100vw;
    background: url("../img/bgImg.jpg") no-repeat 0 0;
    background-size: cover;
    position: relative;
    max-height: 100vh;
    height: 100vh;
}
.login{
    position: relative;
    display: inline-block;
    width: 21.354vw;
    height: 25.3vw;
    margin-left: 39.2vw;
    margin-top: 14vw;
    border-radius: 4px;
    padding: 10vw 1.8229vw 2vw 2.1vw;
    box-sizing: border-box;
    background-color: rgba(256, 256, 256, 0.8);
}
.login .logo{
    position: absolute;
    width: 16.625vw;
    top: 2.5vw;
    left: 2.2vw;
    font-size: 38px;
    text-align: center;
}
.login label{
    display: inline-block;
    width: 2.5vw;
    height: 2.5vw;
}
.login label img{
    width: 100%;
}
.login label .layui-icon{
    position: relative;
    font-size: 36px;
    left: 0.2vw;
    top: 0.4vw;
}
.login .form-item{
    margin-bottom: 2.65vw;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #333 !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent  inset !important;
    background-color:transparent;
    background-image: none;
    transition: background-color 50000s ease-in-out 0s;
}
input {
    background-color:transparent;
}
.login input{
    display: inline-block;
    width: 13.7vw;
    height: 2vw;
    font-size: 14px;
    color: #000;
}
.login .loginBtn{
    display: block;
    margin: 0 0.2vw;
    width: 16.625vw;
    height: 2.2vw;
    font-size: 16px;
}